import 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
.background{
  background-image: url(./component/img/c0652d368b73ce91d9a3773083d72347.jpeg) ;
}